<div class="main-container">
    <div class="content">
        <div class="text">
            <h1>For cinema lovers</h1>
            <h1>By cinema lovers </h1>
            <p>
                Dive deep into the film world using our state-of-the-art website
                to get the full experience of watching, rating and discussing the
                movies.
            </p>
        </div>
        <a routerLink="/ranking">
            <img src="/assets/icons/arrow.svg" alt="">
        </a>
    </div>
    <div class="poster-homepage"></div>
</div>